{% extends 'Laptops/layout.html' %}

 {% block title %}
    <title>ADD Page</title>
  {% endblock %}

{% block content %}
<!------------- A form for Add new Laptops Details in table ------------->
<h1 style="text-align:center; margin-top:10px; ">Add Laptops </h1>
<form method="post" style="border:2px solid; width=30%; margin-left:35%;margin-right: 35%; padding:5%; margin-topn:3%;">
  <!----CSRF token stops unauthorized form submissions from other sites.--->
    {% csrf_token %}

    <!-- Render the form fields as paragraphs -->
    {{form.as_p}}
    <a href="lapkart/show/"><input type="SUBMIT" style="margin-top:2px; margin-left:30%;" class="btn btn-warning"></a>
</form>
{% endblock content %}